<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Team Caleb</title>
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Cambay:400,700|Cantarell:400,700|Hind:300,400,500,600,700|Khula:300,400,600,700,800|Lato|Mallanna|Quattrocento+Sans:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Team Caleb</span></h1>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/news">News</a>
            <a href="/events">Events</a>
            <a href="/memories">Memory Book</a>
            <a href="/contact">Contact Us</a>
        </div>
    </header>
    <h3> {{ title }} </h3>
    {{{ body }}}
    <footer id="footer">
        <div class="copyright">
            <ul class="icons">
                <li>
                    <a href="https://www.facebook.com/TeamCalebMaeir/" class="icon fa-facebook">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/team__caleb/" class="icon fa-instagram">
                        <span class="label">Instagram</span>
                    </a>
                </li>
            </ul>
            <p id="copy">
                Copyright &copy; {new Date().getFullYear()} Team Caleb. All rights
                reserved.
            </p>
        </div>
    </footer>
</body>

</html>